.t-pag{
    background-color: rgb(71, 8, 8); 
    color:rgb(253, 191, 19);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    border-radius: 5px;
}