.t-pag{
    background-color: rgb(0, 0, 0); 
    color:rgb(253, 191, 19);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    border-radius: 0px 0px 5px 5px;
}

.c-img{
    height: 360px;
    border-radius: 5px;
}

.t-carrusel{
    background-color: rgb(253, 191, 19, 0.75);
    color: black;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.t2-carrusel{
    background-color: rgb(253, 191, 19, 0.75);
    color: black;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.p-carrusel{
    background-color: rgb(253, 191, 19, 0.75);
    color: black;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.precio-carta{
    color: black;
    align-self: center;
    border-radius: 10px;
    margin-left: 10px;
    
}
.t-carta{
    background-color: rgb(0, 0, 0);
    color: rgb(253, 191, 19);
    border-radius: 10px 10px 0px 0px;
    font-size: 40px;
}
.div-car1{
    background-color: beige;
    border-radius: 10px 10px 10px 10px;
}
.div-car2{
    background-color: azure;
    border-radius: 10px 10px 10px 10px;
}

.h-img{
    height: 720px;
    border-radius: 10px;
}
.img-logo{
    height: 18%;
    margin-top: 10px;
    border-radius: 50%;
}
.f-text{
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
}